{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'global/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'global/jquery-3.5.1.slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'global/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'global/bootstrap.min.js' %}"></script>
  </head>
  <body>
    <!-- Top nav bar -->
    {% if request.user.is_authenticated %}

      <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if 'player_profile' in request.path %} active {% endif %}" href="">Player profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="">Disabled</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if 'login' in request.path %} active {% endif %}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
          <div class="dropdown-menu">
            <h6 class="dropdown-header">Logged in as: {{ user.username }}</h6>
            <a class="dropdown-item" href="/login/change_password/">Change password</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/login/logout/">Log out</a>
          </div>
        </li>
      </ul>
    {% endif %}

    <div class="main">
      <div class="container">

      <!-- Trailing path -->
      <!-- <ol class="breadcrumb my-4">
        {% block breadcrumb %}
        {% endblock %}
      </ol> -->

        <!-- Messages -->
        <div class="centered">
          {% if messages %}
          <div class="container">
            {% for message in messages %}
              {% if message.tags == 'error' %}
              <div class="alert alert-danger" role="alert">
                {{ message }}
              </div>
              {% elif message.tags == 'success' %}
              <div class="alert alert-success" role="alert">
                {{ message }}
              </div>
              {% elif message.tags == 'info' %}
              <div class="alert alert-info" role="alert">
                {{ message }}
              </div>
              {% endif %}
            {% endfor %}
          </div>
          {% endif %}
        </div>

        <!-- Content -->
        <div class="centered">
          <div class="container">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
