{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}">
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <!-- Top nav bar -->
    {% if request.user.is_authenticated %}
      Logged in as: {{ user.username }} <a href="/login/logout">Log out</a>
    {% else %}
      <a href="/login/">Log in</a>
    {% endif %}

    <div class="container">

      <!-- Trailing path -->
      <ol class="breadcrumb my-4">
        {% block breadcrumb %}
        {% endblock %}
      </ol>

      <!-- Messages -->
      <div class="centered">
        {% if messages %}
        <div class="container">
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>

      <!-- Content -->
      <div class="centered">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
