{% load static %}
<!DOCTYPE html>
<!-- <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}"> -->
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login/bootstrap.min.css' %}">
  </head>
  <body>
    <!-- Top nav bar -->
    {% if request.user.is_authenticated %}
      Logged in as: {{ user.username }} <a href="/login/logout/">Log out</a> <a href="/login/change_password/">Change password</a>
    {% else %}
      <a href="/login/">Log in</a>
    {% endif %}

    <div class="main">
      <div class="container">

      <!-- Trailing path -->
      <ol class="breadcrumb my-4">
        {% block breadcrumb %}
        {% endblock %}
      </ol>

      <!-- Messages -->
      <div class="centered">
        {% if messages %}
        <div class="container">
          {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
            {% elif message.tags == 'success' %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
            {% elif message.tags == 'info' %}
            <div class="alert alert-info" role="alert">
              {{ message }}
            </div>
            {% endif %}
          {% endfor %}
        </div>
        {% endif %}
      </div>

      <!-- Content -->
      <div class="centered">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
