{% extends 'login/base.html' %}

{% block title %}
Change password
{% endblock %}

{% block content %}
  {% if form.user.is_authenticated %}
    <form method="post">
      {% csrf_token %}
        <h2>Change password</h2>
        <fieldset>
          <div class="container">
            <label>Currently logged into:</label>
            <input type="text" value={{form.user.username}} readonly>
            <label>Old password: </label>
            <input id="old_password" type="password" name="old_password">
            <label>New password: </label>
            <input id="new_password1" type="password" name="new_password1">
            <label>Confirm new password: </label>
            <input id="new_password2" type="password" name="new_password2">
            <button type="submit">Save changes</button>
          </div>
        <p>I've turned off password strength validation, so use as good or as crap of a password as you want.</p>
        </fieldset>
    </form>
  {% else %}
    <div class="centered">
      Please login to see this page.
    </div>
  {% endif %}
{% endblock %}

<!-- <h2>Change password</h2>
<form method="post">
    <label>Currently logged into: {{ form.user.username }}</label>
    <br>
    <label>Old password: </label>
    <input id="your_name" type="text" name="your_name" value="{{ form.user.username }}">
    <label>Old password
    <input type="submit" value="OK">
    <button type="submit">Save changes</button>
</form> -->
