{% extends 'login/base.html' %}

{% load static %}
<!-- Extra css for login form -->
<link rel="stylesheet" type="text/css" href="{% static 'login_form.css' %}">

{% block title %}
Change password
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/login/">Login</a></li>
<li class="breadcrumb-item active">Change Password</li>
{% endblock %}

{% block content %}
  {% if form.user.is_authenticated %}
    <div class="login-form">
      <form method="post">
        {% csrf_token %}
        <h2 class="text-center">Change Password</h2>
        <div class="form-group">
          <label type="text">Currently logged in as:</label>
          <input type="text" class="form-control" value={{form.user.username}} readonly>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Old password" id="old_password" name="old_password">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="New password" id="new_password1" name="new_password1">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Confirm new password" id="new_password2" name="new_password2">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Save changes</button>
        </div>
      </form>
    </div>
  {% else %}
    <div class="centered">
      Please login to see this page.
    </div>
  {% endif %}
{% endblock %}
