{% extends 'login/base.html' %}

{% load static %}
<!-- Extra css for login form -->
<link rel="stylesheet" type="text/css" href="{% static 'login_form.css' %}">

{% block title %}
Login
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Login</li>
{% endblock %}

{% block content %}
  {% if not user.is_authenticated %}
  <!-- Not logged in -->
    <div class="login-form">
      <form method="post">
        {% csrf_token %}
        <h2 class="text-center">Log In</h2>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" id="username" name="username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" id="password" name="password">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
      </form>
      <p class="text-center"><a href="/login/signup/">Create an Account</a></p>
    </div>
  {% else %}
  <!-- Logged in -->
    <div class="container">
      You are logged in.
    <div>
  {% endif %}
{% endblock %}
